/* Responsive */
@media screen and (max-width: 1399.9808px) {}

@media screen and (max-width: 1199.9808px) {}

@media screen and (max-width: 991.9808px) {
    .img-frame {
        border: none;
        border-radius: none;
        width: 90%;
    }

    .img-container {
        border-radius: 0.25rem;
        transform: translate(0%, 0%);
    }

    .profile-img {
        height: 400px;
        object-fit: cover;
    }
}

@media screen and (max-width: 767.9808px) {
    .nav-container {
        max-width: 500px;
    }

    .services-container,
    .portfolio-container {
        max-width: 500px;
    }

    nav.nav {
        margin: auto;
        text-align: center;
    }

    .nav-item {
        margin-block: 5px;
    }

    .home-container {
        height: 110vh;
    }

    .img-frame {
        width: 100%;
    }

    .profile-img {
        height: 450px;
        width: 100%;
    }

    iframe,
    .card-img-top {
        height: 45vw;
    }

    .slide-item {
        height: 800px;
    }

    .review-card .card img {
        width: 35%;
    }

    .contact-form {
        max-width: calc(90%);
    }
}

@media screen and (max-width: 575.9808px) {}

@media screen and (max-width: 425.9808px) {
    .home-desc{
        font-size: 18px;
    }
    .home-title {
        font-size: calc(2.8125rem + 3vw);
    }

    .profile-img {
        height: 350px;
    }

    .portfolio-container button.nav-link {
        font-size: 0.85rem;
        padding-inline: 8px;
    }

    .download-btn {
        column-gap: 0.625rem;
    }

    .download-btn button {
        font-size: 1rem;
        line-height: 1rem;
    }
}